<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @record.rating %>
</p>

<p>
  <strong>Count:</strong>
  <%= @record.count %>
</p>

<p>
  <strong>Want:</strong>
  <%= @record.want %>
</p>

<p>
  <strong>Discogs:</strong>
  <%= @record.discogs_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @record.uri %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
