<p id="notice"><%= notice %></p>

<p>
  <strong>Query string:</strong>
  <%= @query.query_string %>
</p>

<p>
  <strong>Total pages:</strong>
  <%= @query.total_pages %>
</p>

<p>
  <strong>Completed page:</strong>
  <%= @query.completed_page %>
</p>

<%= link_to 'Run Query', query_run_path(@query) %> | 
<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>

<h1>Records</h1>

<h1>Listing records</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Count</th>
      <th>Want</th>
      <th>Discogs</th>
      <th>Title</th>
      <th>Price High</th>
      <th>Price Median</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @query.records.order('rating DESC').each do |record| %>
    <% @query.records.order('rating DESC') #median_price DESC').each do |record| %>
      <tr style="background-color:<%= cycle('#AAA', '#FFF') %>">
        <td><%= record.rating %></td>
        <td><%= record.count %></td>
        <td><%= record.want %></td>
        <td><%= record.discogs_id %></td>
        <td><%= record.title %></td>
        <td><%= record.median_price %></td>
        <td><%= record.high_price %></td>
        <td><%= link_to 'Show', record.uri, target: '_blank' %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
